.anarch{stroke: orangered;color:orangered;}
.criminal{stroke: royalblue;color:royalblue;}
.shaper{stroke: limegreen;color:limegreen;}
.neutral-runner{stroke: gray;color: gray;}
.haas-bioroid{stroke: blueviolet;color: blueviolet;}
.jinteki{stroke: crimson;color:crimson;}
.nbn{stroke: #ffc107;color:#ffc107;}
.weyland-consortium{stroke: darkgreen;color: darkgreen;}
.neutral-corp{stroke: gray;color:gray;}