{% extends "base.html" %}

{% block header %}
<h1>Aesop's Table's</h1>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tournaments</th>
        </tr>
    </thead>
    {% for tournament in tournaments %}
    {% if tournament.active %}
    <tr>
        <td><a href={{ url_for('manager.main', tid=tournament.id)}}>{{tournament.title}}</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<div class="p-1">
    <form action={{ url_for('manager.create') }} method="GET">
        <button type="submit" class="btn btn-primary">Create Tournament</button>
    </form>
</div>
{% endblock %}