{% extends "t_base.html" %}


{% block content %}
<form action={{ url_for('manager.finish_round', tid=data.t.id, rnd=data.rnd) }} method="post">
    <button name="close_round" , type="submit" , class="btn btn-primary">Close Round</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Corp Player</th>
            <th>Score</th>
            <th>Runner Player</th>
            <th>Reporting</th>
        </tr>
    </thead>
    {% for match in data.matches %}
    <tr>
        <th>{{match['match_num']}}</th>
        <th>{{match['corp_player']}}</th>
        {% if match['corp_score'] is not none %}
        <th>{{match['corp_score']}} - {{match['runner_score']}}</th>
        {% else %}
        <th></th>
        {% endif %}
        <th>{{match['runner_player']}}</th>
        <th>
            <form action={{ url_for('manager.report_result', mid=match.id )}} method="post">
                <button name='result' , type="submit" , value="c_win" class="btn btn-primary">3-0</button>
                <button name='result' , type="submit" , value="tie" class="btn btn-primary">1-1</button>
                <button name='result' , type="submit" , value="r_win" class="btn btn-primary">0-3</button>
            </form>
        </th>
    </tr>
    {% endfor %}
    <!-- Add delete matches to allow for re-pairings -->
</table>
{% endblock %}