{% extends "t_base.html" %}

{% block content %}
{% if data.t.current_rnd == 0 %}
<form action={{ url_for('manager.start_tournament', tid=data.t.id, rnd=data.t.current_rnd) }} method="post">
    <button name="start_t" , type="submit" , class="btn btn-primary">Start Tournament</button>
</form>
{% else %}
<div class="p-1">
    <form action={{ url_for('manager.make_pairings', tid=data.t.id )}} method="GET">
        <button type="submit" class="btn btn-primary">Pair Round</button>
    </form>
</div>
{% endif %}
<div class="p-1">
    <form action={{ url_for('manager.register', tid=data.t.id) }} method="GET">
        <button type="submit" class="btn btn-primary">Add Player</button>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Score</th>
            <th>SoS</th>
            <th>ESoS</th>
            <th>Side Bias</th>
            <th>Corp ID</th>
            <th>Runner ID</th>
            <th>Dropped</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for plr in data.players %}
    <tr>
        <td>{{loop.index0 +1}}</td>
        <td>{{plr['name']}}</td>
        <td>{{plr['score']}}</td>
        <td>{{plr['sos']}}</td>
        <td>{{plr['esos']}}</td>
        <td>{{clean_bias(plr['bias'])}}</td>
        <td><span class="{{get_id(plr['corp_id'])['faction']}}">{{get_id(plr['corp_id'])['name']}}</span></td>
        <td><span class="{{get_id(plr['runner_id'])['faction']}}">{{get_id(plr['runner_id'])['name']}}</span></td>
        <td>{{ plr['active']== 0 }}</td>
        <td>
            {% if plr.active %}
            <form action={{ url_for('manager.drop_player' , tid=plr.tid, pid=plr.id) }} method="put">
                <button type="submit" class="btn btn-warning">▼ Drop</button>
            </form>
            {% else %}
            <form action={{ url_for('manager.undrop_player' , tid=plr.tid, pid=plr.id) }} method="put">
                <button type="submit" class="btn btn-success">▲ Undrop</button>
            </form>
            {% endif %}
            {% if data.t.current_rnd == 0 %}
            <form action={{ url_for('manager.delete_player' , tid=plr.tid, pid=plr.id) }} method="post">
                <button type="submit" class="btn btn-danger">🗑 Delete</button>
            </form>
            {% endif %}
            <form action={{url_for('manager.edit_player', tid=plr.tid, pid=plr.id)}} method="get">
                <button type="submit" class="btn btn-primary">📝 Edit</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="p-1">
    <form action={{ url_for('manager.change_t_status', tid=data.t.id)}} method="POST">
        <button type="submit" class="btn btn-warning">
            {% if data.t.active %}
            Remove from Front Page
            {% else %}
            Add to Front Page
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}