{% extends 't_base.html'%}

{% block content %}

{% if data.t.current_rnd == 0 %}
<form method="GET" action={{url_for('manager.register', tid=data.t.id)}}>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Score</th>
            <th>SoS</th>
            <th>ESoS</th>
            <th>Side Bias</th>
            <th>Corp ID</th>
            <th>Runner ID</th>
        </tr>
    </thead>
    {% for plr in data.players %}
    <tr>
        <td>{{loop.index0 +1}}</td>
        <td>{{plr['name']}}</td>
        <td>{{plr['score']}}</td>
        <td>{{plr['sos']}}</td>
        <td>{{plr['esos']}}</td>
        <td>{{clean_bias(plr['bias'])}}</td>
        {% if data.t.current_rnd != 0 %}
        <td><span class="{{get_id(plr['corp_id'])['faction']}}"> {{get_id(plr['corp_id'])['name']}}
                ({{plr['corp_points']}})</span>
        </td>
        <td><span class="{{get_id(plr['runner_id'])['faction']}}">{{get_id(plr['runner_id'])['name']}}
                ({{plr['runner_points']}})</span></td>
        {% else %}
        <td>-</td>
        <td>-</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}