{% extends "t_base.html" %}

{% block header %}
<H1><a href={{url_for('manager.main', tid=data.t.id)}}>{{data.t.title}}</a> - Round {{data.rnd}}</H1>
<h3>
    Round Select -
    {% for rnd in data.rnd_list %}
    <a href={{ url_for('manager.pairings', tid=data.t.id, rnd=rnd.rnds)}}>{{rnd.rnds}}</a>
    {% endfor %}
</h3>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Corp Player</th>
            <th>Score</th>
            <th>Runner Player</th>
            <th>Reporting</th>
        </tr>
    </thead>
    {% for match in data.matches %}
    <tr>
        <th>{{match['match_num']}}</th>
        <th>{{match['corp_player']}}</th>
        {% if match['corp_score'] is not none %}
        <th>{{match['corp_score']}} - {{match['runner_score']}}</th>
        {% else %}
        <th></th>
        {% endif %}
        <th>{{match['runner_player']}}</th>
        <th>
            {% if match['corp_score'] is none %}
            <form action={{ url_for('manager.report_result', mid=match.id )}} method="post">
                <button name='result' , type="submit" , value="c_win" class="btn btn-primary">Corp Win</button>
                <button name='result' , type="submit" , value="tie" class="btn btn-primary">Tie</button>
                <button name='result' , type="submit" , value="r_win" class="btn btn-primary">Runner Win</button>
            </form>
            {% endif %}
        </th>
    </tr>
    {% endfor %}
</table>
{% endblock %}